<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- ADD FONTS -->
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
            <link rel="stylesheet" href="/css/main.css">
          <title>Video Games</title>
        </head>
<body>
    <header>
        <h1>Favourite Video Games of All Time</h1>
        <p>Be it climbing into pipes in Vanilla Dome, or battling with in the streets of Liberty City, share your favourite games EVER.</p>
    </header> 
</body>
</html>