body {
    font-family: 'Spartan', sans-serif;
    color: #003adb;
    background-color: #ffa600;
}

#main-title {
    font-size: 4em;
    text-align: center;
    letter-spacing: 1rem;
    line-height: 5rem;
}

ul {
    list-style-type: none;
}

#tag-line {
    color: #ff00c3;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;;
}

#form-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.form-item label {
    text-align: center;
}

.primary {
    margin: 1rem;
}

input[type="text"] {
    font-family: 'Spartan', sans-serif;
    color: #003adb;
    height: 2rem;
    border-radius: 8px;
    background-color: #ffa600;
    border-style: solid;
    border-color: #ff00c3;
    border-width: thin;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


input[type="text"]:hover {
    background-color: #ffae00;
}

input[type="text"]:focus {
    outline: none;
    background-color: #ffae00;
}


select[name="releaseDate"] {
    font-family: 'Spartan', sans-serif;
    color: #003adb;
    height: 2.3rem;
    border-radius: 8px;
    border-width: thin;
    background-color: #ffa600;
    border-style: solid;
    border-color: #ff00c3;
    padding-left: 0.5rem;
}


select[name="releaseDate"]:hover {
    background-color: #ffae00;
}

select[name="releaseDate"]:focus {
    outline: none;
    background-color: #ffae00;
}



#buttons {
    display: flex;
    justify-content:center;
}

button, input[type="submit"] {
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    font-family: 'Spartan', sans-serif;
    font-size: larger;
    color: #ffa600;
    border-radius: 8px;
    background-color: #003adb;
    border-style: solid;
    border-color: #ff00c3;
}

input[type="submit"]:hover {
    background-color: #ffae00;
    color: #003adb;
}

input[type="submit"]:focus {
    outline: none;
    background-color: #003adb;
    color: #ffa600;
}

input[type="submit"]:focus-visible{
    outline: 3px solid whitesmoke;
}


button:hover {
    background-color: #ffae00;
    color: #003adb;
}

button:focus {
    outline: none;
    background-color: #003adb;
    color: #ffa600;
}

button:focus-visible{
    outline: 3px solid whitesmoke;
}

#game-list {
    display: flex;
    flex-wrap: wrap-reverse;
}

.game-list-item {
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
    border-color: #ff00c3;
    padding: 1rem;
    margin: 2rem;
}